<main>
	<div class="for-white-center-bg">
		/
	</div>
	<h2>Список пользователей</h2>
	<div class="content">
        <a nz-button nzType="primary" class="add-btn" routerLink="/users/edit">Add</a>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>логин</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Роль</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        <span class="table-field">{{user.id}}</span>
                    </td>
                    <td>{{user.login}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.patronymic}}</td>
                    <td>{{user.role}}</td>
                    <td *ngIf="user.isActive">активен</td>
                    <td *ngIf="!user.isActive">не активен</td>
                    <td>
                        <a nz-button nzType="link" routerLink="/users/edit">edit</a> |
                        <a nz-button nzType="link" nzDanger>delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!users || users?.length == 0">
            <h4 class="no-data">нет данных</h4>
        </div>
        <!-- <ul class="heroes">
            <li *ngFor="let user of users">
                <span class="name">{{user.id}}</span>
                <span class="name">{{user.firstName}}</span>
                <span class="name">{{user.lastName}}</span>
                <span class="name">{{user.patronymic}}</span>
                <span class="name">{{user.role}}</span>
                <span class="name">{{user.isActive}}</span>
            </li>
        </ul> -->
	</div>
</main>