<main>
	<div class="for-white-center-bg">
		/
	</div>
	<h2>О разработчике</h2>
	<div class="content">
		<div class="AuthorInfo">
			<img src="/assets/images/U6UAld1cAB2H9Z9AhDv1Ewqi7Bj3g2YdyGfYJX1W498obSbft0Xx6aAzRq7MW213nHPNoh3whxQodXZlN8-WhxBh.jpg" alt="">
			<p>{{aboutInfo.shortInfo}}</p>
			<br>
			<p>{{aboutInfo.currentPlaceOfStudy}}</p>
			<br>
			<p>{{aboutInfo.pastPlaceOfStudy}}</p>
			<br>
			<p>{{aboutInfo.currentPlaceOfWork}}</p>
		</div>
		<div>
			<h3>Основной род деятельности</h3>
			<p>{{aboutInfo.mainActivity}}</p>
			<h3>что мне нравится</h3>
			<p>{{aboutInfo.favoriteThings}}</p>
			
		</div>
		<a routerLink="/aboutMe/edit">Edit</a>
	</div>
</main>